@font-face{
    font-family: "os";
    src: url(/css/fonts/OpenSans.ttf);
    }

@font-face{
    font-family: "osBold";
    src: url(/css/fonts/OpenSansBold.ttf);
    }

html,body {
    padding: 0px;
    margin: 0px;
    color: #484B50;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
     
     
/*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,black), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #454545 0%,#000000 100%); */
    
    
    }
form {
    padding: 0px;
    margin: 0px;
    }
    
table,tr,td {
    color: #484B50;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
table thead {
    background: #EFEFEF;
    font-weight: bold;
    }
    
input[type=submit] , input[type=button] {
        
    color: white;
     /* background-color: #19A119; */
     background-color: #268215;
    /* box-shadow: -1px -1px 0px 0px #FF8000, 1px 1px 1px 0px #FF8000 inset, -1px -1px 1px 0px rgba(8, 31, 3, 0.55) inset; */
    
    border: 0;
    font-size: 14px;
    text-transform:uppercase;
    padding: 5px 30px 5px 30px;
    color: #FFF;
    cursor: pointer; 


    
    }

input[type=text],input[type=password] {
    padding-right: 5px;
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #6E6E6E;
    border: 1px #CECECE solid;
    background: #FFF;
    }
select {
    height: 29px;
    border: 1px #CECECE solid;
    padding: 4px;
    }
textarea {
    padding: 5px;
    padding: 5px;
    font-size: 12px;
    color: #6E6E6E;
    border: 1px #CECECE solid;
    background: #FFF;
    }
div.dashStat {
    font-family: os;
    background: #f8f8f8;
    padding: 5px;
    border-top: 1px #dbdbdb solid;
    border-bottom: 1px #dbdbdb solid;
    box-shadow: 0 3px 2px #efefef;
    }
td.dashStat {
    text-align: left;
    background: #FFF;
    border: 1px #dbdbdb solid;
    font-family: os;
    color: #000;
    font-size: 14px;
    }
td.dashStat .span,td.dashStat a {
    font-family: osBold;
    font-size: 20px;
    color: #57595d;
    }
    
a {
    text-decoration: none;
    color: #234B7F;
    }

a:hover {
    text-decoration: none;
    color: #183863;
    }

/* --------------------------------------------------- [ Index Page ] --------------------------------------------------- */

.login .loginField {
    color: #484B50;
    font-weight: bold;
    font-size: 16px;
    }
    
.login .loginTitle {
    color: #6D7179;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    }

.requi#19A119 {
    color: #19A119;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    }
/* --------------------------------------------------- [ Global ] --------------------------------------------------- */

#bottom_table {
    /* width: 98.4%; */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
        background: black;
    color: white;
    

    text-align: left;
    
        position: fixed;
    bottom: 0px;
    
    
    }
#bottom_table tr td, #bottom_table tr td a {
    color: #FFFFFF;
    }
    
.content {
    /* padding: 15px; */
    text-align: left;
    padding-bottom: 50px;
    }

.adminMenu {
    background: #19A119;
    
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
    /* background: -moz-linear-gradient(top, #0c3d82 0%, #0d4e9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3d82), color-stop(100%,#0d4e9e));
    background: -webkit-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -o-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -ms-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: linear-gradient(to bottom, #0c3d82 0%,#0d4e9e 100%); */
    
    /* #439bcd; */
    text-align: left;
    }

.headerLogo {
height:70px;
max-width :100%;
padding-left: 14%;

}

.headerSite {

/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000)); */



/* background: #d7d7d7; */
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
/* 
    background: -moz-linear-gradient(top, #0c3d82 0%, #0d4e9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3d82), color-stop(100%,#0d4e9e));
    background: -webkit-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -o-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -ms-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: linear-gradient(to bottom, #0c3d82 0%,#0d4e9e 100%);
    
 */ 
    
    
    background-color: #1E1E1E;

    
    width: 100%;
    box-shadow: 0 3px 10px #efefef;
    }

.login {


    background-color: #1B1B1B;




    padding-top: 5px;
    font-size: 11px;
    padding-right: 10px;
    }

.login .welcome {
    color: white;;
    font-family: Arial;
    font-size: 13px;
    }
    
.login .welcome a {
    color: white;;
    }
.login span.lastLogin {
    color: white;;
    }
.login .logged {
    color: gray;
    }

.space {
    height: 20px;
    line-height: 20px;
    }

/* --------------------------------------------------- [ Tables ] --------------------------------------------------- */

.performance thead tr td {
    background: #F2F6FF;
    border-bottom: 1px #B7C0C7 dotted;
    height: 21px;
    line-height: 21px;
    font-family: Arial;
    }

.performance tfoot tr td {
    height: 21px;
    line-height: 21px;
    color: #515151;
    font-family: Arial;
    }
    
.specialTableTitle {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    /* background: #1f82b2; 
background: #FFFFFF;
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000));
background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
*/
background: #19A119;
/* background: #0c3d82;
    
    background: -moz-linear-gradient(top, #0c3d82 0%, #0d4e9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3d82), color-stop(100%,#0d4e9e));
    background: -webkit-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -o-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -ms-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: linear-gradient(to bottom, #0c3d82 0%,#0d4e9e 100%);
     */
    
    }

.trLine {
    background: #EFEFEF;
    }

    .normalTableTitle {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
        /* background: #1f82b2; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000));
background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
*/
background: #19A119;
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
    /* background: -moz-linear-gradient(top, #0c3d82 0%, #0d4e9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3d82), color-stop(100%,#0d4e9e));
    background: -webkit-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -o-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -ms-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: linear-gradient(to bottom, #0c3d82 0%,#0d4e9e 100%); */
    }
    
.normal thead tr {
    background: #F2F6FF;
    height: 21px;
    line-height: 21px;
    font-family: Arial;
    }
.normal thead tr td {
    text-align: center;
    border-bottom: 1px #B7C0C7 dotted;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
    }
    
.normal tfoot {
    text-align: center;
    }
.normal tfoot tr td {
    color: #515151;
    font-weight: normal;
    font-size: 12px;
    height: 25px;
    font-family: Arial;
    }
    
div.pageTitle div.title {
    float: left;
    font-size: 24px;
    color: #19A119;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    }
div.pageTitle div.engine {
    float: right;
    text-align: right;
    padding-right: 32px;
    margin-top: -3px;
    }
div.pageTitle div.engine input[type=text], input[type=text].hasDatepicker {
    width: 90px;
    border: 1px #bbbbbb solid;
    text-align: center;
    height: 20px;
    line-height: 20px;
    }
div.pageTitle {
    width: 100%;
    background: url('/images/title_bg.jpg') repeat-x bottom;
    height: 63px;
    line-height: 52px;
    
    overflow: hidden;
    

    }
    
div.tab_over {
    width: 283px;
    height: 70px;
    background: url(../images/login/tab_over.jpg);
    color: #205894;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 30px;
    font-family: Arial;
    position: relative;
    cursor: pointer;
    }

div.tab_pin {
    background: url(../images/login/tab_pin.jpg);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    }
    
div.tab_out {
    width: 283px;
    height: 70px;
    background: url(../images/login/tab_out.jpg);
    color: #797979;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 30px;
    font-family: Arial;
    cursor: pointer;
    }

div.logos {
    width: 468px;
    height: 43px;
    position: relative;
    padding-top: 13px;
    float: left;
    }
div.clear {
    clear: both;
    font-size: 0;
    }
div.termsLinks {
    height: 43px;
    line-height: 43px;
    float: right;
    text-align: right;
    }
div.logos div.top_bg {
    position: absolute;
    z-index: 33;
    top: 0;
    left: 0;
    width: 468px;
    height: 53px;
    font-size: 0;
    background: url(../images/login/logos_bg.png);
    }
    
/* Tabs */
div.tabs {
    width: 100%;
    clear: both;
    }
div.tab {
    float: left;
    text-align: left;
    margin-right: 5px;
    background: #1BA2B5;
    color: #FFF;
    font-size: 16px;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
        /* background: #1f82b2; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000));
background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
*/
background: #0c3d82;
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
    background: -moz-linear-gradient(top, #0c3d82 0%, #0d4e9e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3d82), color-stop(100%,#0d4e9e));
    background: -webkit-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -o-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: -ms-linear-gradient(top, #0c3d82 0%,#0d4e9e 100%);
    background: linear-gradient(to bottom, #0c3d82 0%,#0d4e9e 100%);
    
    
    }
    
    .affiliate_image {
    /*      background-size: 100% 825px;
    background-position-y: -285px; */
        height: 685px;
    overflow: hidden;
    padding-bottom: 101px;
    background-size: 100% 70%;
background-repeat: no-repeat;

    
    }
    
    
div.tab.selected {
    background:white;
    color: white!important;
    background-color: rgb(68, 132, 17)!important;
    box-shadow: -1px -1px 0px 0px #55B144, 1px 1px 1px 0px #48C734 inset, -1px -1px 1px 0px rgba(8, 31, 3, 0.55) inset!important;
    
    
    }
div.tab_open {
    clear: both;
    border: 1px #DDD solid;
    display: none;
    background: #F9F9F9;
    }
div.tab_open div.comment {
    padding: 10px;
    font-size: 14px;
    }
div.exportCSV {
        /* background: #1f82b2; 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#000000));
background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
*/
background: black;
    width: 110px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    }
div.exportCSV a {
    color: #FFF;
    }
    
.logo-td {
    padding-left: 0px;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,black), color-stop(100%,#000000));
background: -webkit-linear-gradient(top, #454545 0%,#000000 100%); */
background-color:#1B1B1B;
}

.loginPageFooter {
    border-top: 1px #dddddd solid; 
    /* padding: 25px 0 25px 0;  */
    padding: 0px 0 0px 0; 
    
    position: fixed;
    bottom: 34px;
    width: 100%;
    
    /* background: #FFFFFF;  */
    background: transparent; 
}

.resetb {
    
    display: inline-block;    padding: 6px 30px 5px 14px;font-size:14px!important;   
    line-height: 29px;    vertical-align: middle;   
    
        box-shadow: -1px -1px 0px 0px #FF8000, 1px 1px 1px 0px #FF8000 inset, -1px -1px 1px 0px rgba(8, 31, 3, 0.55) inset;
/*  border-radius: 6px;   
                                    background-image: url(images/main/reset.png) ;    width: 156px;    height: 37px;   
 */
                                    border: 0px;    color: white;    font-size: 16px;    font-weight: bold;    text-align: center;
                                        

                                        
                                        border-radius: 11px;  
                                        /* background-image: url(../images/buttons/btn.png);     */
                                        background-color:#19A119;
                                        width: 194px;    height: 47px;
                                                    
                                                    
}

.registerbtn {
    
      /* background-image: url(images/main/register.png);  width: 100px;  height: 39px;  */
border-radius: 11px;    
/* background-image: url(../images/buttons/btn.png);   */
background-color:#19A119;
  width: 194px;    height: 47px;

      border: 0px;  color: white;  font-size: 16px;  font-weight: bold;
}


body.affiliateLoginFrame {
opacity:0.96;background-color:white;
padding-left:70px;padding-bottom:50px;border-radius:10px;
border: gray 5px solid; 
    
}



    .affiliateLoginFrame td:first-child {
        /* border-right: 1px solid darkgrey!important; */
}

    
        
        
    .affiliateLoginFrame form div:first-child, .affiliateLoginFrame td div:first-child   {
         //text-transform: uppercase;
        
    }
    .affiliateLoginFrame div {
        
        color:#363636;
        
    }
    

body.affiliateLoginBody {
    background-color: #F8F5F5!important;
}
            
body.affiliateLoginBody div.pageTitle {
    padding-left: 15%;
}
                    
    body.affiliateLoginBody input[type=submit] {
    
    color: white;
    border-radius: 10px;
    font-size: 16px;
    text-transform:uppercase;
    padding: 3px 30px 5px 30px;
    color: white;
        /* #FFF; */
        font-weight:bold;
        
    cursor: pointer;
    /* background: url(../images/buttons/btn.png) no-repeat; */
    background-color:#19A119;
    width: 198px;
    height: 51px;
    margin-left:90px;   
    text-shadow: 0 1px 1px #000;
    border: 0;
    
    }

    
    body.affiliateLoginBody input:hover[type=submit] {
    /* background: url(../images/buttons/btn_hover.png) no-repeat; */
    background-color:#19A119;
    opacity:0.95;
    color: whitesmoke;
    text-shadow: 0 1px 1px #fff;
}

.affiliate_image {
    
    padding: 40px 0 40px 0; margin-top: -10px; border-top: 1px #FFFFFF solid;
    
}
html.affiliateLoginHtml {
    background-color:white;
}

.register_now_btn {
    position: absolute;  margin-top: -20px; 
    border-radius: 11px;
    /* background-image: url(../images/buttons/btn.png); */
    width: 194px;
    height: 47px;
}

.coverImageBlock {
padding: 40px 0 40px 0; margin-top: -10px; border-top: 1px #FFFFFF solid;   
    
                    height: 730px!important;
                }
                
.coverImageBlock table {
    height: 350px;
}

div#loginPageFooter_forgot {
    bottom: 35px!important;
}
.pager {
    position:inherit!important;
}

table.affiliateLoginFrame {
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding: 31px;
    border-radius: 28px;
}

table.affiliateLoginFrame a {
    color: #EA0000!important;
    text-decoration:underline;
    
}

.regRight {
    background-color:rgba(255, 255, 255, 0.7);
        padding-bottom: 66px;
    border-radius: 12px;
}

body.affiliateLoginBody div.titleOnPage { 

height: 147px!important;
}


ul.vertical li.heading_active{
background-color: #4CAF50;
}



.breadcrumb{ 
list-style: none; 
overflow: hidden; 
font: 14px Helvetica, Arial, Sans-Serif;
padding-left:0px;
}
.breadcrumb li{ 
float: left; 
}
.breadcrumb li a{
color: white;
text-decoration: none; 
padding: 10px 0 10px 55px;
background: brown;
background: #19A119; 
position: relative; 
display: block;
float: left;
}
.breadcrumb li a:after{ 
content: " "; 
display: block; 
width: 0; 
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid #19A119;
position: absolute;
top: 50%;
margin-top: -50px; 
left: 100%;
z-index: 2; 
}   
.breadcrumb li a:before{ 
content: " "; 
display: block; 
width: 0; 
height: 0;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 30px solid white;
position: absolute;
top: 50%;
margin-top: -50px; 
margin-left: 1px;
left: 100%;
z-index: 1; 
}   
.breadcrumb li:first-child a{
padding-left: 10px;
}
.breadcrumb li:nth-child(2) a{background:#19A119;}
.breadcrumb li:nth-child(2) a:after{border-left-color:#19A119;}
.breadcrumb li:nth-child(3) a{background:#19A119;}
.breadcrumb li:nth-child(3) a:after{border-left-color:#19A119;}
.breadcrumb li:nth-child(4) a{background:#19A119;}
.breadcrumb li:nth-child(4) a:after{border-left-color:#19A119;}
.breadcrumb li:nth-child(5) a{background:#19A119;}
.breadcrumb li:nth-child(5) a:after{border-left-color:#19A119;}
.breadcrumb li a:hover{background:#19A119;}
.breadcrumb li a:hover:after{border-left-color: #19A119 !important;}


.popupTrackingWindowImg{ 
    height: 700px;
    width: auto;
    max-height: 450px;
    max-width: 400px;
}



/************* Custom CSS ******************************/

:root {
  --main-header-color: #000000; 
  --main-header-text-color: #ffffff; 
  --main-system-color: #000000; 
  --main-btn-color: #fbba00; 
}

.headerLogo {
    max-width: 200px !important;
    height: auto;
    background: rgb(0,0,0);
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(0,0,0,1) 100%);*/
    padding-right: 100px;
 }

.logo-td {
    background-color: var(--main-header-color);
}

.login {
    background-color: var(--main-header-color);
}

.login .welcome, .login .welcome a, .login span.lastLogin {
    color: var(--main-header-text-color);
}

.affiliate_image, .admin_image{
    background-size: cover !important;
    background-position: center !important;
}

.affiliateLoginFrame {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding-bottom: 66px;
    border-radius: 12px;
}

.affiliateLoginFrame .regRight {
    background-color: transparent;
}

body.affiliateLoginBody .headerSite{
    position: relative !important;
}

body.affiliateLoginBody .pageTitle,
body.affiliateLoginBody .titleOnPage{
    display: none;
}

body.affiliateLoginBody input[type=submit] {
    color: white;
    background-color: var(--main-btn-color);
}

input[type=submit], input[type=button]{
    color: white;
    background-color: var(--main-btn-color);
}

.adminMenu {
    background: var(--main-system-color);
}

div.pageTitle div.title {
    color: var(--main-system-color);
}

.normalTableTitle {
    background: var(--main-system-color);
}

.breadcrumb li a {
    background: var(--main-system-color);
}

.breadcrumb li a:hover{
    background: var(--main-system-color);
}
.breadcrumb li a:hover {
    background: var(--main-system-color);
}
.breadcrumb li a:after{
    border-left: 30px solid var(--main-system-color);
}

.breadcrumb li:nth-child(2) a{background: var(--main-system-color);}
.breadcrumb li:nth-child(2) a:after{border-left-color: var(--main-system-color);}
.breadcrumb li:nth-child(3) a{background: var(--main-system-color);}
.breadcrumb li:nth-child(3) a:after{border-left-color: var(--main-system-color);}
.breadcrumb li:nth-child(4) a{background: var(--main-system-color);}
.breadcrumb li:nth-child(4) a:after{border-left-color: var(--main-system-color);}
.breadcrumb li:nth-child(5) a{background: var(--main-system-color);}
.breadcrumb li:nth-child(5) a:after{border-left-color: var(--main-system-color);}
.breadcrumb li a:hover{background:var(--main-system-color);}
.breadcrumb li a:hover:after{border-left-color: var(--main-system-color) !important;}

.breadcrumb li:nth-child(2) a:after {
    border-left-color: var(--main-system-color);
}


ul.vertical li.heading_active{
    background: var(--main-system-color);
}

.specialTableTitle{
    background: var(--main-system-color);
}

#frmAffReg{
    padding-bottom: 100px;
}

body.affiliateLoginBody input:hover[type=submit] {
    background-color: var(--main-btn-color);

}
.loginPageFooter{
    background: #FFFFFF !important;
    padding: 10px 0;
}

.admin_footerpart{
    padding: 5px 0 !important;
    position: fixed !important;
    bottom: 35px !important;
    width: 100% !important;
}